#header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #bfcce0;
    top: 0px;
  }
  
  #logo{
    display: flex;
    width: 60vw;
    align-items: center;
  }
  
  #header-img{
    width: 5vw;
    height: auto;
    padding-left: 10vw;
  }
  
  #company-name{
    margin-left: 5vw;
  }
  
  #company-name a{
      text-decoration: none;
  }

  #company-name a, .nav-link, #submit{
    color: #8f36f5;
  }
  
  #nav-bar{
    width: 40vw;
  }
  
  #nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #nav-list li{
    list-style: none;
  } 
  
  .nav-link{
    text-decoration: none;
    font-size: 20px;
  }